**/Binaries/
**/Intermediate/
**/Saved/
**/Build/
**/DerivedDataCache/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.venv/
**/__pycache__/
**/output/
**/logs/
*.sln
*.suo
*.user
*.pdb
*.exe
*.obj
*.pyc
*.log
*.lib
*.iobj
*.ipdb
*.mp4
*.pdf
*.zip
*.uasset
*.umap
AirSim_Source/AirLib/lib/
AirSim_Source/docs/annsim23_tutorial/
AirSim_Source/DroneServer/temp/
**/MavLinkCom/CMakeFiles/
**/MavLinkCom/Makefile
**/AirLib/CMakeFiles/
**/AirLib/Makefile
**/PythonClient/cosysairsim.egg-info/
/MavLinkCom/CMakeCache.txt
/MavLinkCom/cmake_install.cmake
/MavLinkTest/CMakeFiles
/MavLinkTest/CMakeCache.txt
/MavLinkTest/cmake_install.cmake
/MavLinkCom/enc_temp_folder/
/CMakeFiles
/MavLinkTest/Makefile
/Makefile
/cmake_install.cmake
/CMakeCache.txt
/MavLinkCom/Makefile
/MavLinkCom/SDK/
/catkin_generated
/gtest
/devel
/MavLinkCom/CTestTestfile.cmake
/MavLinkTest/CTestTestfile.cmake
/CTestTestfile.cmake
/AirLib/cmake_install.cmake
external/
deps/
cmake_build/
build_debug/
build_release/