**/Binaries/
**/Intermediate/
**/Saved/
**/Build/
**/DerivedDataCache/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.venv/
**/__pycache__/
**/output/
**/logs/
*.sln
*.suo
*.user
*.pdb
*.exe
*.obj
*.pyc
*.log
**/MavLinkCom/CMakeFiles/
**/MavLinkCom/Makefile
**/AirLib/CMakeFiles/
**/AirLib/Makefile
**/PythonClient/cosysairsim.egg-info/